<%
# required for overriding devise mailer
edit_password_url = "#{@resource_dashboard_url}/recover-password" \
                    '?reset_password_token=' \
                    "#{@resource_reset_password_token}"
%>
<tr>
  <td class="content-element" style="padding: 20px 15px; color: #4F4F4F;">
    <h1 style="text-align: center; font-size: 1.2rem; color: #3a3b3c; margin: 0 auto 1rem; margin-bottom: 32px;">
      Restablece tu contrase単a
    </h1>
    <p style="text-align: center; margin: 0 0 40px; font-size: 17px; line-height: 24px; color: #373737;">
      Si pediste un cambio en tu contrase単a, para <%= @public_name %>, <br>
      ingresa al siguiente link:
    </p>
    <div style="margin: 0 auto 1.5rem auto; text-align: center;">
      <a style="text-align: center; padding: 1rem 3rem; background-color: #C10000; text-decoration: none; color: white; font-size: 1.2rem; border-radius: 5px;" href="<%= edit_password_url %>" target="_blank">
        Cambiar contrase単a
      </a>
    </div>
    <p style="text-align: center; margin: 2rem 0 2rem; font-size: 17px; line-height: 24px; color: #373737;">
      Si no solicitaste el cambio de contrase単a, ignora este correo.
    </p>
    <p style="text-align: center; margin: 2rem 0 2rem; font-size: 17px; line-height: 24px; color: #373737;">
      <strong>IMPORTANTE:</strong> Este link expira en 24 horas.
    </p>
  </td>
</tr>
