---
http_interactions:
- request:
    method: post
    uri: https://api.mailjet.com/v3/send
    body:
      encoding: UTF-8
      string: '{"To":"giovanni@guruteconecta.com","Subject":"FoamAi | Restablece tu
        contraseña","Html-part":"<!DOCTYPE html>\r\n<html>\r\n<head>\r\n  <title>FoamAi</title>\r\n  <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n  <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\">\r\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no\">\r\n</head>\r\n<body
        style=\"font-family: Helvetica, Arial, sans-serif; font-weigth: 300; background-color:
        #F9F9F9; height: auto\" marginheight=\"0\" marginwidth=\"0\" topmargin=\"0\"
        leftmargin=\"0\">\r\n  <div style=\"margin: 0 auto 0 auto; text-align: center;
        padding: 20px 16px 12px;\">\r\n    <img style=\"width: 150px; height: auto;\"
        src=\"https://i.postimg.cc/GhBdQ8Fx/download-removebg-preview.png\" />\r\n  </div>\r\n  <table
        id=\"main-container\" borderspacing=\"0\" borderpadding=\"0\" border=\"0\"
        bgcolor=\"#F3ECF7\" cellspacing=\"0\" cellpadding=\"0\" width=\"90%\" style=\"background-color:
        #F3ECF7; border: 0; border-collapse: collapse; border-spacing: 0; margin:
        0 auto; max-width: 700px; padding: 0;\">\r\n    <tbody style=\"margin-top:
        3rem\">\r\n      <tr id=\"content\">\r\n        <td id=\"content-td\" style=\"background-color:
        #fff; border-radius: 8px;\">\r\n          <table width=\"100%\" border=\"0\"
        cellspacing=\"0\" cellpadding=\"0\">\r\n            <tbody>\r\n              <tr>\r\n  <td
        class=\"content-element\" style=\"padding: 20px 15px; color: #4F4F4F;\">\r\n    <h1
        style=\"text-align: center; font-size: 1.2rem; color: #3a3b3c; margin: 0 auto
        1rem; margin-bottom: 32px;\">\r\n      Restablece tu contraseña\r\n    </h1>\r\n    <p
        style=\"text-align: center; margin: 0 0 40px; font-size: 17px; line-height:
        24px; color: #373737;\">\r\n      Si pediste un cambio en tu contraseña, para
        FoamAi, <br>\r\n      ingresa al siguiente link:\r\n    </p>\r\n    <div style=\"margin:
        0 auto 1.5rem auto; text-align: center;\">\r\n      <a style=\"text-align:
        center; padding: 1rem 3rem; background-color: #C10000; text-decoration: none;
        color: white; font-size: 1.2rem; border-radius: 5px;\" href=\"/recover-password?reset_password_token=1a10a403f9b44cb3b6a033fef8f09159ab0f29d64ce000985e8b76b52e38457c\"
        target=\"_blank\">\r\n        Cambiar contraseña\r\n      </a>\r\n    </div>\r\n    <p
        style=\"text-align: center; margin: 2rem 0 2rem; font-size: 17px; line-height:
        24px; color: #373737;\">\r\n      Si no solicitaste el cambio de contraseña,
        ignora este correo.\r\n    </p>\r\n    <p style=\"text-align: center; margin:
        2rem 0 2rem; font-size: 17px; line-height: 24px; color: #373737;\">\r\n      <strong>IMPORTANTE:</strong>
        Este link expira en 24 horas.\r\n    </p>\r\n  </td>\r\n</tr>\r\n\r\n            </tbody>\r\n          </table>\r\n        </td>\r\n      </tr>\r\n    </tbody>\r\n  </table><br>\r\n</body>\r\n</html>\r\n","FromEmail":"nunutzi12@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Nzg3YzJhYzgxMmI0MDNhZDU0ZTYzMWI1MzAzMTc1MDI6OTViZjUwMGNjY2Y0ZDEzYjMyZDkyNmQ1N2ZjM2FlMzI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Sent" : [{ "Email" : "giovanni@guruteconecta.com", "MessageID" :
        576460778376548167, "MessageUUID" : "2023f925-fbca-4165-84b0-b141874421b7"
        }] }

        '
  recorded_at: Sat, 28 Sep 2024 23:07:57 GMT
recorded_with: VCR 6.1.0
